.table-moda-cabecalho{
    background-color: #BB86FC;
}

.table-casa-cabecalho{
    background-color: #00C4B4;
}

.casa th,
.casa td {
    padding: 5px;
    
}
.table-moda-produto,
.table-casa-produto{
    background-color: #444250;
    color: #FFFFFF;
}














/* 
.cabecalho-produtos-moda {
background-color: #BB86FC;
color: white;
padding: 10px;
}

.background{
    background-color: #424250;
}

.cabecalho-produtos-casa {
background-color: #00C4B4;
} */
